.about-us {
  padding: 70px 0 85px;
  text-align: center;

  @media (max-width:$md3+px){
		padding: 50px 0 50px; 
  }
}

.about-us__title {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;

  @media (max-width:$md3+px){
	font-size: 10px; 
}
}

.about-us__text {
	max-width: 625px;
	margin: 0 auto;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	color: #000000;

	@media (max-width:$md3+px){
		 font-size: 14px; 
	}
}