// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  padding: 14px 0;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 590px) {
    flex-direction: column;
  }
}

.header__list {
  display: flex;
  align-items: center;
}

.header__link {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #000000;
}

.header__list-item,
.header__right-item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.header__right-item a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #000000;
}

.header__right-list {
  display: flex;
  align-items: center;
}

.header__left {
  @media (max-width: 590px) {
    margin-bottom: 15px;
  }
}

.header__logo {
  a {
    position: relative;
    display: inline-block;
    width: 63px;
    height: 43px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}

.header__right-link {
  position: relative;
  display: inline-block;
  width: 83px;
  height: 44px;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
