.hero {
  min-height: 90vh;
  background-image: url("../images/hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width:$md3+px){
	padding: 0 10px; 
  }

  @media (max-width:$md4+px){
	min-height: 60vh;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 66px;
  line-height: 69px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 23px;

  @media (max-width: 1024px){
		 font-size: 55px;
  }

  @media (max-width:$md3+px){
		font-size: 40px; 
		line-height: 30px
  }

  @media (max-width:$md4+px){
		font-size: 25px; 
  }
}

.hero__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 45px;

  @media (max-width:$md3+px){
	font-size: 16px; 
}

@media (max-width:$md4+px){
	 font-size: 14px; 
}
}


.hero__btn {
  &:hover {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
  }
}